@page "/catalog/players"

@if (PlayersList == null)
{
    <h3>Loading players...</h3>
}
else
{
    <h3 class="mb-5">Players</h3>

    var playerCount = PlayersList.Count();

    @if (playerCount > 0)
    {
        <GroupedPlayerCollection GroupedPlayers="GetGroupedPlayersByTeam()" />
    }
}