@page "/catalog/teamPlayers/{TeamId:int}"


@if (TeamPlayersList == null)
{
    <h3>Loading players...</h3>
}
else
{
    <h3 class="mb-5">Team Players - @TeamName</h3>

    var playerCount = TeamPlayersList.Count();

    @if (playerCount > 0)
    {
        <div class = "row mt-3">
            <PlayerCollection Players="TeamPlayersList"/>
        </div>
    }
}