@page "/catalog/teams"

@if (TeamsList == null)
{
    <h3>Loading teams...</h3>
}
else
{
    <h3 class="mb-5">Teams</h3>

    var teamCount = TeamsList.Count();

    if (teamCount > 0)
    {
        <TeamCollection Count="teamCount"
                        ItemsPerRow=4
                        Teams="TeamsList"/>
    }
}