<style>
    .round {
		border: 1px solid #03BFCB;
		border-radius: 50%;
		padding: 7px;
	}
</style>

<div class="card-custom">
	<img class="round" src="@ImageSrc" width="@ImageWidth%" alt="user" />
	<div class="card-body-custom">
		<h3>@Title</h3>
        <h6>@Text</h6>
	</div>
</div>



@code {
    
    [Parameter]
    public string ImageSrc { get; set; } = null!;
    
    [Parameter]
    public string Title { get; set; } = null!;
    
    [Parameter]
    public string Text { get; set; } = null!;
	
	[Parameter]
	public int ImageWidth { get; set; }

}